  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">功能列表</li>
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>目录1</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">子目录1</a></li>
            <li><a href="#">子目录2</a></li>
            <li><a href="#">子目录3</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>目录2</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">子目录1</a></li>
            <li><a href="#">子目录2</a></li>
            <li><a href="#">子目录3</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>